wsSelex/App_WebReferences/Selex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:21479/Selex" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost:21479/Selex" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:21479/Selex">
      <s:element name="GetSelex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EAN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSelexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSelexSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelex" />
  </wsdl:message>
  <wsdl:message name="GetSelexSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelexResponse" />
  </wsdl:message>
  <wsdl:portType name="SelexSoap">
    <wsdl:operation name="GetSelex">
      <wsdl:input message="tns:GetSelexSoapIn" />
      <wsdl:output message="tns:GetSelexSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SelexSoap" type="tns:SelexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSelex">
      <soap:operation soapAction="http://localhost:21479/Selex/GetSelex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SelexSoap12" type="tns:SelexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSelex">
      <soap12:operation soapAction="http://localhost:21479/Selex/GetSelex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Selex">
    <wsdl:port name="SelexSoap" binding="tns:SelexSoap">
      <soap:address location="http://localhost:1324/Selex.asmx" />
    </wsdl:port>
    <wsdl:port name="SelexSoap12" binding="tns:SelexSoap12">
      <soap12:address location="http://localhost:1324/Selex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>